# Domain Configuration
DOMAIN_NAME=ana-pdos.42.fr

# Database Configuration
DB_HOST=mariadb
DB_PORT=3306
DB_NAME=inception
DB_USER=wordpress_user

# WordPress Configuration
WP_TITLE=Inception
WP_ADMIN_USER=webmaster
WP_ADMIN_EMAIL=ana-pdos@student.42.fr
WP_USER=editor
WP_USER_EMAIL=editor@student.42.fr
WP_PORT=9000

# NGINX
NGINX_PORT=443
