DOMAIN_NAME=ana-pdos.42.fr

# MariaDB
DB_NAME=wordpress
DB_USER=wp_user
DB_HOST=mariadb
DB_PORT=3306

# WordPress (non-secret)
WP_TITLE=Inception
WP_ADMIN_USER=siteboss
WP_ADMIN_EMAIL=siteboss@ana-pdos.42.fr
WP_USER=visitor
WP_USER_EMAIL=visitor@ana-pdos.42.fr
WP_PORT=9000

# NGINX
NGINX_PORT=443
